body{

    font-family: "Happy Monkey", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    text-shadow: 0 0 1px black;
    background-image: url("Dark Grey and Yellow Business ID Card.jpg");
    background-size: cover;
    background-repeat: repeat;
}
